@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Playwrite FR Moderne", cursive;
}


html,
body {
    display: block;
    margin: 0%;
    padding: 0%;
    background-color: #113b5d;
    font-family: "Playwrite FR Moderne", cursive;
    color: wheat;
}

::selection {
    color: black;
}

::-webkit-scrollbar {
    width: 6px;
    scrollbar-width: thin;
    scrollbar-color: #c7b5b5 #8f5e5e;
}

::-webkit-scrollbar-thumb {
    background-color: #c06969;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

#resume {
    border-top-left-radius: 10px;
    text-align: center;
    transition: all 0.7s;
}

#resume:hover {
    background-color: chartreuse;
    border: none;
    color: black;
}

#skills .p1:hover {
    transition: all 0.5s;
    border-top-right-radius: 40%;
    cursor: pointer;
    rotate: 5deg;
}


.loading-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 40px;
}

.rect {
    width: 10px;
    height: 100%;
    background-color: #3498db;
    animation: loading 1.2s infinite ease-in-out;
}

.rect1 {
    animation-delay: -1.2s;
}

.rect2 {
    animation-delay: -1.0s;
}

.rect3 {
    animation-delay: -0.8s;
}

.rect4 {
    animation-delay: -0.6s;
}

.rect5 {
    animation-delay: -0.4s;
}

@keyframes loading {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
    }
}



.loading-spinner {
    width: 40px;
    height: 40px;
    position: relative;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #3498db;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    animation-delay: -1s;
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}